name: signet

services:
  knots:
    image: 1maa/bitcoin:v29.1.knots20250903
    command: >
      -chain=signet
      -listenonion=0
      -signetchallenge=5120f313278de4d562561245e17fb3d0d71b697923f3c27e39e44b108622fd0c56f2

      -rpcallowip=0.0.0.0/0
      -rpcbind=0.0.0.0
      -rpccookiefile=/var/tmp/.cookie
      -rpccookieperms=all

      -blockfilterindex=basic
      -coinstatsindex=1
      -txindex=1

      -peerblockfilters=1
      -peerbloomfilters=1

      -blockmintxfee=0.0
      -minrelaytxfee=0.0
      -mintxfee=0.0

      -addresstype=bech32m
      -walletimplicitsegwit=1
    healthcheck:
      test: test -f /var/tmp/.cookie
      start_interval: 125ms
      start_period: 500ms
    restart: unless-stopped
    volumes:
      - cookie_dir:/var/tmp
      - ./knots.conf:/home/bitcoin/.bitcoin/bitcoin.conf
      - knots_data:/home/bitcoin/.bitcoin

  wallet-setup:
    image: 1maa/bitcoin:v29.1.knots20250903
    depends_on:
      knots:
        condition: service_healthy
    environment:
      - WALLET_NAME=BBO
      - RECV_XPRV=tr(tprv8ZgxMBicQKsPdksbPS6u4aLDgjkt5LWM3vDscWSQKCTPsgKiekL3XiTb5HUHgyyr6e3pTn4JUcZUnPdAbbp3qtUmwmvAYwJHrJQiPMBMpum/86h/1h/0h/0/*)#ale2lp6q
      - CHNG_XPRV=tr(tprv8ZgxMBicQKsPdksbPS6u4aLDgjkt5LWM3vDscWSQKCTPsgKiekL3XiTb5HUHgyyr6e3pTn4JUcZUnPdAbbp3qtUmwmvAYwJHrJQiPMBMpum/86h/1h/0h/1/*)#vtutz52c
      - MINE_XPRV=tr(tprv8ZgxMBicQKsPdksbPS6u4aLDgjkt5LWM3vDscWSQKCTPsgKiekL3XiTb5HUHgyyr6e3pTn4JUcZUnPdAbbp3qtUmwmvAYwJHrJQiPMBMpum/86h/1h/0h/2/*)#k7ngvzne
    entrypoint:
      - sh
      - -x
      - -c
      - |
        bitcoin-cli -signet -rpccookiefile=/var/tmp/.cookie -rpcconnect=knots -named createwallet wallet_name=$${WALLET_NAME} blank=true avoid_reuse=true load_on_startup=true
        bitcoin-cli -signet -rpccookiefile=/var/tmp/.cookie -rpcconnect=knots importdescriptors '[{"desc":"'$${RECV_XPRV}'","range":999,"timestamp":"now","active":true,"internal":false}]'
        bitcoin-cli -signet -rpccookiefile=/var/tmp/.cookie -rpcconnect=knots importdescriptors '[{"desc":"'$${CHNG_XPRV}'","range":999,"timestamp":"now","active":true,"internal":true}]'
        bitcoin-cli -signet -rpccookiefile=/var/tmp/.cookie -rpcconnect=knots importdescriptors '[{"desc":"'$${MINE_XPRV}'","range":999,"timestamp":"now","active":false,"internal":true}]'
    restart: no
    volumes:
      - cookie_dir:/var/tmp

  miner:
    image: 1maa/bitcoin:v29.1.knots20250903
    depends_on:
      wallet-setup:
        condition: service_completed_successfully
    environment:
      - MINE_XPUB=tr(tpubDCZH8j9YS7HgDkiyC3cXbCKLCLk5j7mN6aTShpB3pF7bs9EXuctzTMD76UQDemvi9PZRYEnPHH8exJhFwR7pBVkxYwUquNWCk9DZk9qyshZ/2/*)#5eqky29x
    entrypoint:
      - sh
      - -x
      - -c
      - miner --cli="bitcoin-cli -rpccookiefile=/var/tmp/.cookie -rpcconnect=knots" generate --descriptor $${MINE_XPUB} --grind-cmd="bitcoin-util grind" --min-nbits --ongoing
    restart: unless-stopped
    stop_signal: SIGINT
    volumes:
      - cookie_dir:/var/tmp

  fulcrum:
    image: cculianu/fulcrum:v2.0.0
    command: Fulcrum /etc/fulcrum.conf
    depends_on:
      knots:
        condition: service_healthy
      miner:
        condition: service_started
    healthcheck:
      test: FulcrumAdmin -p 8000 getinfo > /dev/null
      start_interval: 500ms
      start_period: 10s
    ports:
      - "127.0.0.1:60601:60601"
    restart: unless-stopped
    volumes:
      - ./fulcrum.conf:/etc/fulcrum.conf
      - cookie_dir:/var/tmp
      - fulcrum_data:/data

  mempool-web:
    image: ghcr.io/retropex/mempoolfrontend:v3.3.0-dev2
    depends_on:
      mempool-api:
        condition: service_started
    environment:
      - BACKEND_MAINNET_HTTP_HOST=mempool-api
      - FRONTEND_HTTP_PORT=8080
      - MAINNET_ENABLED=false
      - ROOT_NETWORK=signet
      - SIGNET_ENABLED=true
    ports:
      - "127.0.0.1:8080:8080"
    restart: unless-stopped

  mempool-api:
    image: ghcr.io/retropex/mempoolbackend:v3.3.0-dev2
    depends_on:
      knots:
        condition: service_healthy
      fulcrum:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    environment:
      - CORE_RPC_HOST=knots
      - CORE_RPC_PORT=38332
      - CORE_RPC_COOKIE=true
      - CORE_RPC_COOKIE_PATH=/var/tmp/.cookie
      - DATABASE_DATABASE=mempool
      - DATABASE_ENABLED=true
      - DATABASE_HOST=mariadb
      - DATABASE_PASSWORD=mempool
      - DATABASE_USERNAME=mempool
      - ELECTRUM_HOST=fulcrum
      - ELECTRUM_PORT=60601
      - ELECTRUM_TLS_ENABLED=false
      - MEMPOOL_BACKEND=electrum
      - MEMPOOL_NETWORK=signet
      - STATISTICS_ENABLED=false
    restart: unless-stopped
    volumes:
      - cookie_dir:/var/tmp

  mariadb:
    image: mariadb:12.0.2
    environment:
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=true
      - MARIADB_DATABASE=mempool
      - MARIADB_PASSWORD=mempool
      - MARIADB_USER=mempool
    healthcheck:
      test: mariadb-admin ping > /dev/null
      start_interval: 1s
      start_period: 20s
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    restart: unless-stopped

  valkey:
    image: valkey/valkey:8-alpine
    healthcheck:
      test: valkey-cli ping > /dev/null
      start_interval: 125ms
      start_period: 500ms
    restart: unless-stopped
    volumes:
      - valkey_data:/data

  faucet:
    image: 1maa/bbo-faucet:latest
    depends_on:
      knots:
        condition: service_healthy
      valkey:
        condition: service_healthy
    environment:
      - FAUCET_REDIS_ENDPOINT=valkey:6379
      - FAUCET_BITCOIN_RPC_ENDPOINT=http://knots:38332
      - FAUCET_BITCOIN_RPC_COOKIE=/var/tmp/.cookie
      - FAUCET_NAME=BBO Signet Playground
      - FAUCET_MAX_ONE_TIME_BTC=50.0
      - FAUCET_USER_SESSION_TTL=2
      - FAUCET_GLOBAL_SESSION_TTL=2
      - FAUCET_USER_SESSION_MAX_BTC=200.0
      - FAUCET_GLOBAL_SESSION_MAX_BTC=5000.0
      - FAUCET_MEMPOOL_URL=http://localhost:8080
      - FAUCET_FEE_RATE=0.0
    platform: linux/amd64
    ports:
      - "127.0.0.1:8123:8080"
    restart: unless-stopped
    volumes:
      - cookie_dir:/var/tmp

volumes:
  cookie_dir:
  fulcrum_data:
  knots_data:
  mariadb_data:
  valkey_data:
